.img {
  height: 80px;
  width: 80px;
  padding: 5px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  border-radius: 3px;
  position: sticky;

}
ul {
  font-size: 20px;
  margin-top: 30px;
  margin-right: 30px;
  list-style: none;
  display: flex;
}
li {
 margin-right: 40px;
 margin-top: 25px;
}
img {
  border-radius: 5px;
  height: 200px;
  width: 280px;
}
.box-1 {
  width: 280px;
  height: 335px;
  border: solid 1px white;
  border-radius: 5px;
  margin: 10px;
  
}
.main-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
@media (min-width:768px) {
  .main-container {
    grid-template-columns: repeat(3,1fr);
  }
  
}
@media (min-width:1200px) {
  .main-container {
    grid-template-columns:repeat(4,1fr) ;
  }
}
  
.card-title {
  font-weight: 500px;
}

.para-1 {
  margin-top: 0px;
  margin: 5px;
}